Probability Distributions Exercises

For the following problems, use python to simulate the problem and calculate an experimental probability, then compare that to the theoretical probability.

In [46]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

np.random.seed(123)

1. A bank found that the average number of cars waiting during the noon hour at a drive-up window follows a Poisson distribution with a mean of 2 cars. Make a chart of this distribution and answer these questions concerning the probability of cars waiting at the drive-up window.

In [3]:
λ = 2

data1 = stats.poisson(λ)
data1

What is the probability that no cars drive up in the noon hour?

In [4]:
data1.pmf(0)

0.1353352832366127

What is the probability that 3 or more cars come through the drive through?

In [5]:
data1.sf(2)

0.32332358381693654

How likely is it that the drive through gets at least 1 car?

In [6]:
data1.sf(0)

0.8646647167633873

2. Grades of State University graduates are normally distributed with a mean of 3.0 and a standard deviation of .3. Calculate the following:

In [8]:
mean = 3
std_dev = 0.3

data2 = stats.norm(mean, std_dev)
data2

What grade point average is required to be in the top 5% of the graduating class?

In [10]:
data2.isf(0.05)

3.4934560880854417

What GPA constitutes the bottom 15% of the class?

In [11]:
data2.ppf(0.15)

2.689069983151863

An eccentric alumnus left scholarship money for students in the third decile from the bottom of their class. Determine the range of the third decile.

In [28]:
# decile is defined as 10 equal divisions
# 3 decile from the bottom would be 20-30%

bottom_20 = data2.ppf(0.21)
round(bottom_20, 2)

2.76

In [17]:
bottom_30 = data2.ppf(0.3)
round(bottom_30, 2)

2.84

Would a student with a 2.8 grade point average qualify for this scholarship?

In [ ]:
# Based on the calcualtions above, 2.8 gpa would qualify.

If I have a GPA of 3.5, what percentile am I in?

In [39]:
data2.sf(3.5)

0.0477903522728147

3. A marketing website has an average click-through rate of 2%. One day they observe 4326 visitors and 97 click-throughs. How likely is it that this many people or more click through?

In [31]:
n_trials3 = 4326
prob3 = 0.02

data3 = stats.binom(n_trials3, prob3)
data3

In [32]:
data3.sf(96)

0.1397582363130086

4. You are working on some statistics homework consisting of 100 questions where all of the answers are a probability rounded to the hundreths place. Looking to save time, you put down random probabilities as the answer to each question.

- What is the probability that at least one of your first 60 answers is correct?

In [24]:
n_trials4 = 100
prob4 = 0.01

stats.binom(n_trials4, prob4).cdf(60)

0.9999999999999999

5. The codeup staff tends to get upset when the student break area is not cleaned up. Suppose that there's a 3% chance that any one student cleans the break area when they visit it, and, on any given day, about 90% of the 3 active cohorts of 22 students visit the break area. How likely is it that the break area gets cleaned up each day? How likely is it that it goes two days without getting cleaned up? All week?

In [33]:
n_trials5 = (22 * 3) * 0.9
prob5 = 0.03

stats.binom(n_trials5, prob5).sf(0)

0.8342199288437355

- How likely is it that it goes two days without getting cleaned up?

In [36]:
(1 - (stats.binom(n_trials5, prob5).(0))) ** 2

0.027483031992576113

- All week?

In [37]:
(1 - (stats.binom(n_trials5, prob5).sf(0))) ** 5

0.0001252165138809122

6. You want to get lunch at La Panaderia, but notice that the line is usually very long at lunchtime. After several weeks of careful observation, you notice that the average number of people in line when your lunch break starts is normally distributed with a mean of 15 and standard deviation of 3. If it takes 2 minutes for each person to order, and 10 minutes from ordering to getting your food, what is the likelihood that you have at least 15 minutes left to eat your food before you have to go back to class? Assume you have one hour for lunch, and ignore travel time to and from La Panaderia.

In [43]:
# figure out what max wait time is
lunch_break = 60
order_time = 2
cook_time = 10
eat_time = 15

max_wait = lunch_break - order_time - cook_time - eat_time
max_wait

33

In [44]:
mean6 = (15 * 2)
std_dev6 = (3 * 2)

stats.norm(mean6, std_dev6).cdf(max_wait)

0.6914624612740131

7. Connect to the employees database and find the average salary of current employees, along with the standard deviation. For the following questions, calculate the answer based on modeling the employees salaries with a normal distribution defined by the calculated mean and standard deviation then compare this answer to the actual values present in the salaries dataset.

- What percent of employees earn less than 60,000?
- What percent of employees earn more than 95,000?
- What percent of employees earn between 65,000 and 80,000?
- What do the top 5% of employees make?

In [47]:
from env import host, password, username

def get_db_url(db, username=username, host=host, password=password):
    return f'mysql+pymysql://{username}:{password}@{host}/{db}'
    
url = get_db_url('employees')

salaries_df = pd.read_sql("SELECT * FROM salaries WHERE to_date = '9999-01-01'", url)
salaries_df.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01

In [52]:
salaries_df.describe()

              emp_no         salary
count  240124.000000  240124.000000
mean   253080.615365   72012.235857
std    161853.087323   17309.995380
min     10001.000000   38623.000000
25%     84878.750000   59048.750000
50%    249792.500000   69805.000000
75%    424895.250000   82546.000000
max    499999.000000  158220.000000

In [70]:
mean7 = salaries_df.salary.mean()
mean7

72012.23585730705

In [71]:
std_dev7 = salaries_df.salary.std()
std_dev7

17309.99538025198

- What percent of employees earn less than 60,000?

In [65]:
stats.norm(mean7, std_dev7).cdf(59999)

0.2438393099761686

- What percent of employees earn more than 95,000?

In [66]:
stats.norm(mean7, std_dev7).sf(95000)

0.09208819199804053

- What percent of employees earn between 65,000 and 80,000?

In [67]:
stats.norm(mean7, std_dev7).sf(65000) - stats.norm(mean7, std_dev7).cdf(65000)

0.3145941560986971

- What do the top 5% of employees make?

In [68]:
stats.norm(mean7, std_dev7).isf(0.05)

100484.64454102777